<br>
    <br>
    <br>


<!-- {{#if tenants.length}} -->
<div class="container view-tenants-cont">
    <br>
    <br>
    <br>
    <div class="row d-flex justify-content-center">
        
        <div class="col-12 col-md-12 property-description">
            
            <table data-toggle="table">
                <thead>
                  <tr>
                    <th>Property Address:</th>
                    <th>Lease Start:</th>
                    <th>Lease End:</th>
                    <th>Square Footage:</th>
                    <th>Property Type:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>555 Five St</td>
                    <td>01/01/2021</td>
                    <td>01/01/2022</td>
                    <td>1200 sq. feet</td>
                    <td>Single Family Home</td>
                  </tr>
                  <tr>
                    <td>129 Routing is fun way</td>
                    <td>02/22/2020</td>
                    <td>02/22/2022</td>
                    <td>1600 sq. feet</td>
                    <td>Townhouse</td>
                  </tr>
                </tbody>
              </table>
              <br>
              
              <a class="btn btn-primary" href="/index.html" role="button">View Tenants</a>
        </div>
    </div>
</div>



