<<<<<<< HEAD
  <nav class="navbar navbar-expand-md fixed-top top-nav light-header">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="images/home-route-logo.png" alt="Home Route Logo" width="150" height="115"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto text-sm-center text-md-center">
              <li class="nav-item">
                <a class="nav-link" href="#properties_1">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tenants_1">Tenants</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#leases_1">Leases</a>
              </li>
      </div>
    </nav>
    <script src="/public/js/login.js"></script>
=======








>>>>>>> 8f6da3847ce34cfe6c0b64b65d58b9f9a71488b8
