  
    <br>
    <br>
    <h3>Please Login:</h3>
    <form class="row g-3 needs-validation" id="login-form" novalidate>
    <div class="col-md-4">
      <label for="email-login" class="form-label">Email</label>
      <input type="text" class="form-control" id="email-login" required>
    </div>
    <div class="col-md-4">
      <label for="password-login" class="form-label">Password</label>
      <input type="text" class="form-control" id="password-login" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
  <br>
  <h3>Or Sign-Up:</h3>
  <form class="row g-3 needs-validation" id="signup-form" novalidate>
    <div class="col-md-4">
      <label for="name-signup" class="form-label">Name</label>
      <input type="text" class="form-control" id="name-signup" required>
    </div>
    <div class="col-md-4">
      <label for="email-signup" class="form-label">Email</label>
      <input type="text" class="form-control" id="email-signup" required>
    </div>
    <div class="col-md-4">
      <label for="password-signup" class="form-label">Password</label>
      <input type="text" class="form-control" id="password-signup" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>

    <script src="/public/js/login.js"></script>
