
<script id="nav-bar" type="text/x-handlebars-template"></script>
  <div class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-90 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
          </li>
      </ul>
  </div>
  <div class="mx-auto order-0">
    <div class="row justify-content-md-center">
      <a class="navbar-brand mx-auto"><h1>Property Management</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
      </div>
  </div>
  <div class="navbar-collapse collapse w-60 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-info mx-2">Property</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-info mx-2">Leases</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-info mx-2">Tenants</button>
          </li>
      </ul>
  </div>
</div>
</div>
</div>
</nav>