<br>
    <br>
    <br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-7">
                <h3>Update Tenant:</h3>
                <br>
                <form class="form new-tenant-form" id="update_tenant">
                    <div class="form-group">
                        <label for="tenant_first_name">Tenant First Name:</label>
                        <textarea class="form-control my-2" rows="1" id="tenant_first_name" name="tenant_first_name"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tenant_last_name">Tenant Last Name:</label>
                        <textarea class="form-control my-2" rows="1" id="tenant_last_name" name="tenant_last_name"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tenant_phone">Tenant Phone Number:</label>
                        <textarea class="form-control my-2" rows="1" id="tenant_phone" name="tenant_phone"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="emergency_contact">Emergency Contact Name & Phone Number:</label>
                        <textarea class="form-control my-2" rows="1" id="emergency_contact" name="emergency_contact"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
    <script src="/js/update_tenant.js"></script>